<div class="posts-wrapper row">
  <div class="post">
    <div class="post-head">
      <div class="name">Peter Parker</div>
    </div>
    <div class="image center-block">
      <%= image_tag( @post.image.url(:medium) ) %>
    </div>
    <p class="caption">
      <%= @post.caption %>
    </p>

  <div class="text-center edit-links">
    <button><%= link_to "Cancel", posts_path %></button>
    <button><%= link_to "Edit post", edit_post_path(@post[:id]) %></button>
  </div>
</div>
